footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .esquerda img {
    width: 120px;
}

footer .meio {
    flex: 1;
    margin-left: 20px;
}

footer .meio h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
}

footer .meio ul {
    list-style: none;
    padding: 0;
}

footer .meio ul li h2 {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

footer .meio ul li h2:hover {
    color: #007BFF;
}
