

.rodape {
    position: relative;
    z-index: 2; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}
.rodape .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2; 
    z-index: 1;
}


.rodape .esquerda img {
    width: 150px;
    z-index: 2;
}

.rodape .meio {
    flex: 1;
    margin-left: 20px;
    z-index: 2;
}

.rodape .meio h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
}

.rodape .meio ul {
    list-style: none;
    padding: 0;
}

.rodape .meio ul li h2 {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.rodape .meio ul li h2:hover {
    color: #fff;
}


.rodape .direita {
    flex: 1;
    margin-left: 20px;
    z-index: 2;
}

.rodape .direita h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.rodape .direita li h2 {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
}

.rodape .direita li h2:hover {
    color: #fff;
}
