footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ffooter .fundo {
    position: relative;
    width: 100%; 
    height: auto; 
}

footer .fundo img {
    width: 100%;
    height: auto;
    display: block;
}

footer .logo img {
    width: 100%;
    height: auto;
    display: block;
}
footer .esquerda img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;    
}

footer .meio {
    flex: 1;
    margin-left: 20px;
}

footer .meio h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
}

footer .meio ul {
    list-style: none;
    padding: 0;
}

footer .meio ul li h2 {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

footer .meio ul li h2:hover {
    color: #007BFF;
}
