
body {
    background-color: #f8f7ff;
    overflow-x: hidden;
    position: relative;
}

.texto-principal {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    background-color: #fff;
    overflow:hidden;
}

.texto-principal h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.titulo-principal h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.titulo-principal h2 {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 20px;
}

.titulo-principal h2 a {
    color: #6C63FF;
    text-decoration: none;
}

.titulo-principal h2 a:hover {
    text-decoration: underline;
}

.saiba-mais a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #6C63FF;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.saiba-mais a:hover {
    background-color: #5a52d5;
}


.imagem-direita {
    float: right; 
    margin-left: 20px; 
    width: auto; 
    height: auto; 
    right: 0px;
}

.imagem-direita-div img {
    max-width: 100%;
    height: auto;
}


.parte-baixo {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}


.imagem-fundo img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
}
.linha-reta-baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.linha-reta-baixo img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 52%;
    right: 20%;
    left: 52%;
    z-index: 1;
    filter: grayscale(1) brightness(3.5);

}

.texto-inferior {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    overflow:hidden;
}
.texto-inferior h2 {
    font-size: 2.5em; 
    color: #5a52d5;
    font-weight: 500;
    font-family: 'verdana', sans-serif;
    margin-bottom: 20px;
    top: 54%;
    left: 52%;
    position: absolute;
}


.botao button {
    background-color: #5a52d5;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao button:hover {
    background-color: #5a52d5;
}



.esquerda, .meio, .direita {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.esquerda img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.meio h1, .direita h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.lista-meio, .lista-direita {
    list-style: none;
}

.lista-meio li, .lista-direita li {
    margin-bottom: 5px;
}

.lista-meio a, .lista-direita a {
    color: white;
    text-decoration: none;
}

.lista-meio a:hover, .lista-direita a:hover {
    text-decoration: underline;
}


.icone-playstore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icone-playstore img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 58%;
    right: 35%
}

.icone-appstore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icone-appstore img{
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 58%;
    right: 19%;
}

.setas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.setas .texto-seta-um, .texto-seta-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.setas .seta-um, .seta-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.setas .seta-um img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 65%;
    right: 10%;
}
.setas .seta-dois img {
    max-width: 102%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 65%;
    left: 40%;

}

.setas .texto-seta-um h3{
    font-size: 2.5em; 
    color: #5a52d5;
    font-weight: 500;
    font-family: 'verdana', sans-serif;
    margin-bottom: 20px;
    top: 65%;
    left: 25%;
    position: absolute;
}
.setas .texto-seta-dois h3{
    font-size: 2.5em; 
    color: #5a52d5;
    font-weight: 500;
    font-family: 'verdana', sans-serif;
    margin-bottom: 20px;
    top: 65%;
    right: 16%;
    position: absolute;

}
.setas .linha-reta-seta-um img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 68%;
    right: 67%;
}


.setas .linha-reta-seta-dois img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 68%;
    right: 19.5%;
}