

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px; 
    margin: 0 auto; 

}

.texto-principal h2 {
    width: 45%;
    text-align: left;
    padding: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #acacb4;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1;
}



.imagem-principal {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -50px; 
    position: relative;
}

.linha-reta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 20%; 
    max-width: 200px; 
    height: auto; 
    position: absolute;
    top: 35%;
    left: 51%;
    z-index: 1; 
}

.linha-reta img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
}

.texto-principal-content h3{
    width: 45%;
    text-align: left;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #acacb4;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 1;
}

.learn-more a {
    text-align: center;
    font-size: 16px;
    color: #2a79f6;
    font-weight: 700;       
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    top: 72%;
    z-index: 1;

}