body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

.tituloprincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 120px;
    background-color: #fff;
    font-size: 60px; 
    overflow: hidden;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #7a2ff2;
    font-size: 16px;
    cursor: pointer; 
}

.login a {
    text-decoration: none;
    color: #7a2ff2;
    font-weight: bold;
}

.login a:hover {
    color: #0056b3;
}

.login img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.registro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid blue; 
    border-radius: 5px; 
    color: blue;
    font-size: 16px;
    cursor: pointer; 
}

.texto {
    width: 45%;
    text-align: left;
    padding: 40px 20px;
    font-family: arial, sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
    
}

.texto h1 {
    font-size: 36px;
    margin-bottom: 24px;
    color: #7a2ff2;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto h2 {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.6;
    color: #666;
    font-weight: normal;
}

.texto button {
    padding: 12px 32px;
    background-color: #7a2ff2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.texto button:hover {
    background-color: #6422d1;
}

.imagem {
    width: 45%;
}

.imagem {
    float: right; 
    margin-left: 20px; 
    width: auto; 
    height: auto; 
    right: 0px;
}