

.texto-principal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px; 
    margin: 0 auto; 
    height: auto;
}

.texto-principal h2 {
    width: 45%;
    text-align: left;
    padding: 40px 20px;
    font-family: arial, sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
}

.texto-principal span {
    display: block;
    margin-top: 15px;
}

.imagem-principal {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -50px; 
}

.linha-reta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 20%; 
    max-width: 200px; 
    height: auto; 
}

.linha-reta img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
}
