

.texto-principal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px; 
    margin: 0 auto; 
    height: auto;
}

.texto-principal h2 {
    font-size: 1.8em;
    color: #555152;
    margin-bottom: 20px;
    font-weight: normal;
    max-width: 600px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.texto-principal span {
    display: block;
    margin-top: 15px;
}

.imagem-principal {
    width: 100%;
    height: auto;
    display: flex;

    margin-top: -50px; 
}

.linha-reta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
