


.texto-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.titulo-principal{
    margin-bottom: 40px;
    
}
.titulo-principal h1{
    font-size: 40px;
    margin-bottom: 24px;
    color: #7a2ff2;
    line-height: 1.2;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 1380px;
    right: 50%;
}
.titulo-principal h2{
    font-size: 22px;
    margin-bottom: 32px;
    line-height: 1.6;
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 1380px;
    right: 50%;
    z-index: 1;
    padding-bottom: 80px;
}

.titulo-principal .linha-titulo{
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 12px;
    position: relative;
    padding-bottom: 70px;
    top: 1380px;
    right: 89%;
    z-index: 1;

}

.titulo-principal .span{
    display: block;
    margin-top: 15px;
    color: #7a2ff2;
}
.texto-principal .linha-span {
    position: relative;
    left: 67.5%;

}
.texto-principal .linha-span img{
    width: 8%;
    height: auto;
    margin: 5 10px;
    transition: transform 0.3s ease;
    position: absolute;
}
.saiba-mais {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #2a79f6;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto; 
    padding: 10px 20px; 
    display: inline-block; 
    position: absolute;
    top: 1900px;
    z-index: 1;
    right: 83%;
    
}

.saiba-mais a:hover{
    background-color: #2a79f6; 
    color: #fff;

}
.imagem-direita {
    float: right; 
    margin-left: 20px; 
    width: auto; 
    height: auto; 
    right: 0px;
}

.imagem-direita-div img {
    max-width: 100%;
    height: auto;
}
.parte-baixo {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}
.imagem-fundo img {
    width: 100%;
    height: auto;
    margin-bottom: 120px;
    position: relative;

}

.linha-reta-baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.linha-reta-baixo img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 52%;
    right: 20%;
    left: 52%;
    z-index: 1;
    filter: grayscale(1) brightness(3.5);

}

.texto-inferior {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    overflow:hidden;
}
.texto-inferior h2 {
    font-size: 2.2em; 
    color: #5a52d5;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    top: 248%;
    left: 47%;
    position: absolute;
}


.icone-playstore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icone-playstore img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 265%;
    right: 40.5%
}

.icone-appstore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icone-appstore img{
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 265.3%;
    right: 24.5%;
}

.linha-reta-baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.linha-reta-baixo img {
    max-width: 8.5%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 238%;
    left: 46.5%;
    z-index: 1;
    filter: grayscale(1) brightness(3.5);

}

.setas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.setas .texto-seta-um, .texto-seta-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: left;
}

.setas .seta-um, .seta-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.setas .seta-um img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top:315%;
    right: 10%;
}
.setas .seta-dois img {
    max-width: 102%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 315%;
    left: 40%;

}

.setas .texto-seta-um h3{
    font-size: 2.5em; 
    color: #5a52d5;
    font-weight: 500;
    font-family: 'verdana', sans-serif;
    margin-bottom: 20px;
    top: 315%;
    left: 15%;
    position: absolute;
}
.setas .texto-seta-dois h3{
    font-size: 2.5em; 
    color: #5a52d5;
    font-weight: 520;
    font-family: 'verdana', sans-serif;
    margin-bottom: 20px;
    top: 315%;
    right: 20%;
    position: absolute;

}
.setas .linha-reta-seta-um img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 330%;
    right: 73%;
}


.setas .linha-reta-seta-dois img {
    max-width: 12%; 
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    position: absolute;
    top: 330%;
    left: 62.5%;
}