body { 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    text-align: center;
}


.linha-reta {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 12px;
    position: relative;
    left: -4.9%;
    padding-bottom: 40px;

    

}
.texto-principal {
    text-align: center;
    padding: 40px;

}

.texto-principal h1 {
    font-size: 2.2em;
    color: #6e34b3;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.info-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 200px;


}

.produto {
    flex: 1;
    padding: 20px;
    max-width: 350px;
    text-align: center;
    
}

.produto img {
    width: 250px;
    height: auto;
    margin-bottom: 15px;
}

.produto h1 {
    font-size: 1.4em;
    margin-bottom: 40px;
    color: #6e34b3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    padding-bottom: 1.2px;
}


.produto h2 {

        font-size: 1em;
        color: #acacb4;
        line-height: 1.5;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400; 
        padding-bottom: 12px; 

    
}

@media (max-width: 768px) {
    .info-produtos {
        flex-direction: column;
        text-align: center;
    }

    .produto {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .produto img {
        width: 1000px;
    }
}