<footer>
    <section class="rodape">
        <img src="/src/assets/images/fundo-footer-teste-programador.jpg" alt="Fundo Footer" class="fundo">
        <div class="esquerda">
            <img src="/src/assets/images/logo-teste-programador.png" alt="Logo" class="logo">
        </div>

        <div class="meio">
            <h1> About Us </h1>
            <ul>
                <li><h2> Newsroom</h2></li>
                <li><h2> Invertor Relation </h2></li>
                <li><h2> Global Citizenship </h2></li>
                <li><h2> Safety </h2></li>
                <li><h2> Blog</h2></li>
                <li><h2> Career </h2></li>
            </ul>
        </div>
    </section>
</footer>