<header>
    <section class="cabecalho">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="PaginaPrincipal.html"><img src="/src/assets/images/logo-teste-programador.png" alt="Logo"></a></li>
                    <li><a href="#">Drivers</a></li>
                    <li><a href="#">Passengers</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="Conta">
                <a href="Login.html"><img src="#" alt="Login"> Login</a>
                <a href="Registro.html"><img src="#" alt="Registro"> Registro</a>
            </div>
        </div>
    </section>
</header>